/* Container */
.content-container {
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  font-family: 'Oxanium', sans-serif;
}

/* Gradient Title */
.content-title {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #ff3bff 0%, #ecbfbf 38%, #5c24ff 76%, #d94fd5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-subtitle {
  font-size: 1.2rem;
  margin: 20px 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Buttons Wrapper */
.content-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

/* Gradient Button Wrapper */
.button-gradient-wrapper {
  display: inline-block; /* Wrap tightly around content */
  border-radius: 40px; /* Rounded gradient border */
  padding: 2px; /* Border thickness */
  background: linear-gradient(
    to right,
    #ff3bff 0%,
    #ecbfbf 38%,
    #5c24ff 76%,
    #d94fd5 100%
  );
}

.button-solid-wrapper {
  display: inline-block; /* Wrap tightly around content */
  border-radius: 40px; /* Rounded gradient border */
  padding: 2px; /* Border thickness */
  background: white;
}

/* Inner Button Wrapper */
.button-inner-wrapper {
  border-radius: 40px;
  overflow: hidden; /* Ensure button respects border radius */
}

/* Gradient Button */
.gradient-button {
  color: #fff;
  padding: 17px 40px;
  background: #000; /* Black inner background */
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

.gradient-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3); /* Subtle glow */
}

.white-border-button-wrapper {
  display: inline-block; /* Wrap tightly around content */
  border-radius: 40px; /* Rounded corners for button */
  padding: 2px; /* Thickness of the border */
  background: transparent; /* Transparent wrapper */
}

.white-border-button {
  color: #fff; /* White text */
  padding: 10px 30px;
  background: #000; /* Black background */
  border: 2px solid #fff; /* White border */
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

.white-border-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3); /* Subtle glow */
}